<form style="align-items: center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="main">
        <div class="div-1">
            <img src="../../../assets/SignUImage.png">
            <label>ONLINE BOOK SHOPPING</label>
        </div>
        <mat-card class="div-2">
            <div class="l-and-s-button">
                <button class="buttons buttons-font" style="opacity: .6;" routerLink="/login">LOGIN</button>
                <button class="buttons buttons-font">SIGNUP</button>
            </div>
            <div class="userCred">
                <div class="user-FName">
                    <label>Full Name</label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="fullName">
                        <mat-error>Please enter full name</mat-error>
                    </mat-form-field>
                </div>
                <div class="user-details">
                    <label>Email Id</label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="email">
                        <mat-error>Please Enter Email Id</mat-error>
                    </mat-form-field>
                </div>
                <div class="user-details">
                    <label>Password</label>
                    <mat-form-field appearance="outline">
                        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :'visibility'}}</mat-icon>
                        <mat-error>Please Enter Password</mat-error>
                    </mat-form-field>
                </div>
                <div class="user-details">
                    <label>Mobile Number</label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="mobileNumber" style="">
                        <mat-error>Please enter your mobile Number</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn-signup">
                    <button mat-raised-button type="submit" class="buttons button-signup">SIGNUP</button>
                </div>
            </div>
        </mat-card>
    </div>
</form>