<div class="main">
    <div class="div-1">
        <img src="../../../assets/SignUImage.png">
        <span>ONLINE BOOK SHOPPING</span>
    </div>
    <mat-card class="div-2">
        <div class="login-signup-div">
            <button class="buttons buttons-font">LOGIN</button>
            <button class="buttons buttons-font" style="opacity: .6;" routerLink="/signup">SIGNUP</button>
        </div>
        <div>
            <form class="form-class" [formGroup]="login" (ngSubmit)="onSubmit()">

                <div class="common-div">
                    <label>Email Id</label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" formControlName="email">
                        <mat-error>Enter Email Id</mat-error>
                    </mat-form-field>
                </div>
                <div class="common-div">
                    <label>Password</label>
                    <mat-form-field appearance="outline">
                        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error>Please Enter Password</mat-error>
                    </mat-form-field>
                    <button class="buttons forget" routerLink="/forgetpassword">Forget Password?</button>
                </div>
                <button mat-raised-button type="submit" class="buttons button-signup">SIGNUP</button>
            </form>
        </div>
        <div>
            <span class="split"> OR </span>
        </div>
        <div class="social-login">
            <button class="buttons button-footer fb">Facebook</button>
            <button class="buttons button-footer gg">Google</button>
        </div>
    </mat-card>
</div>