.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.div-1 {
    height: 50px;
    width: 100%;
    border: 1px solid black;
    background: #a03037;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.header-font {
    color: aliceblue;
    margin-left: 10px;
    font-size: 15px;
}

.div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.head-forget-input-field {
    font-size: 20px;
    margin-bottom: -20px;
    font-weight: 600;

}

.formclass {
    border: 1px solid #00000029;
    height: fit-content;
    max-width: 350px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
}

.formclass span {
    opacity: .6;
    margin-bottom: 10px;
}

.pass-confirm {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    height: 20px;
}

.buttons {
    border: none;
    background: none;
    cursor: pointer;
}

.btn {
    width: 37%;
    margin-top: 2px;
}

.btn button {
    font-size: 20px;
    width: 100%;
    height: 100px;
    margin-top: -800px;
    border: 1px solid #b9b9b929;
    background-color: #b9b9b929;
}

.button-signup {
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(186, 32, 32);
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-top: 10px;
}