<div class="main">
    <div class="div-1">
        <img src="../../../assets/education.svg">
        <span class="header-font">Bookstore</span>
    </div>
    <div class="div-2">
        <label class="head-forget-input-field">Reset Your Password?</label>
        <form  class="formclass" [formGroup]="resetForm" (ngSubmit)="onSubmit()">     
                <span style="opacity: .6;margin-bottom:10px ;">Enter your email address and wee will send you a link to reset your
                password</span>
                <div style="display: flex; flex-direction:column;">
                    <label>New Password</label>
                    <mat-form-field appearance="outline">
                        <input matInput type="password" class="input-field" formControlName="password">
                        <mat-error>Please enter new password</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column;">
                    <label>Confirm Password</label>
                    <mat-form-field appearance="outline">
                        <input matInput type="password" class="input-field"  formControlName="confirmPassword">
                        <mat-error>Please re-enter your password</mat-error>
                    </mat-form-field>
                </div>
            <button class="buttons button-signup">Reset Password</button>
        </form>
        <div style=" width:37%;margin-top: 2px;">
            <button mat-flat-button class="btn" routerLink="/signup">Create Account</button>
        </div>
    </div>